APP_NAME=gangku-ai-server
ENV=local
DEBUG=True

HOST=127.0.0.1
PORT=8000

CORS_ORIGINS=["http://localhost:3000"]

LOG_LEVEL=INFO

RECOMMANDS_LIMIT=50

RECOMMENDER_N_CLUSTERS=5
RECOMMENDER_SVD_DIM=4

CLUSTER_ARTIFACT_DIR=app/cluster/artifacts/user_clustering
POPULARITY_ARTIFACT_DIR=app/cluster/artifacts/popularity
